# SSH Keys
gitkey
gitkey.pub

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

# SUMO and OMNeT++ files
results/
stats/
*.log
